<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Панель управления</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<header>
  <nav class="bg-dark navbar navbar-light">
        <span class="h1 mb-0 navbar-brand text-light"
              th:text="${anotherUser.username} + ' with role: ' + ${anotherUser.getListRole()}"></span>
    <a href="/logout" class="display-5 text-muted">Logout</a>
  </nav>
</header>
 <!-- ОСНОВНАЯ СТРАНИЧКА -->
<div class="row">
  <div class="col-2">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
         href="#list-home" role="tab" aria-controls="home">Admin</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
         href="#list-profile" role="tab" aria-controls="profile">User</a>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <!-- Содержимое АДМИН  вкладки -->
        <div class="col-10">
          <h1>Панель админа</h1>
          <!-- Навигационная панель с 2 вкладками -->
          <div class="tab-content" id="nav-tabContent">
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTabExample">
                  <li><a class="nav-link active" href="#admin" role="tab" data-toggle="tab">Пользователи</a>
                  </li>
                  <li><a class="nav-link" href="#registration" role="tab" data-toggle="tab">Создать
                    пользователя</a></li>
                </ul>
              </div>
              <!-- Содержимое вкладок -->
              <div class="tab-content">
                <!-- Содержимое 1 вкладки -->
                <div class="tab-pane active" id="admin">
                  <div class="card-body">
                    <div class="card border-primary mb-auto">
                      <div class="card-header float-none text-left">Все пользователи</div>
                      <div class="card-body text-primary">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Email</th>
                            <th>Права доступа</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="user: ${user}">
                            <td th:utext="${user.getId()}">...</td>
                            <td th:utext="${user.getUsername()}">...</td>
                            <td th:utext="${user.getLastname()}">...</td>
                            <td th:utext="${user.getEmail()}">...</td>
                            <td th:utext="${user.getListRole()}">...</td>
                            <td>
                              <a type="button" class="btn btn-sm btn-primary"
                                 data-bs-toggle="modal"
                                 data-bs-target="#editModal"
                                 th:data-bs-target="${'#editModal'+user.getId()}">Редактировать</a>
                            </td>
                            <td>
                              <a type="button" class="btn btn-sm btn-danger"
                                 data-bs-toggle="modal"
                                 data-bs-target="#DELETE"
                                 th:data-bs-target="${'#DELETE'+user.getId()}">Удалить</a>
                            </td>
                            <!-- Редактирование пользователя -->
                            <div class="modal fade" th:id="${'editModal'+ user.getId()}"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" modal-dialog-centered>
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">
                                      Редактирование пользователя</h5>
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                  </div>
                                  <form th:action="@{/admin/update/{id}(id=${user.getId()})}"
                                        th:object="${user}" th:method="PUT">
                                    <div class="modal-body col-md text-center">
                                      <br>
                                      <label for="id"><b>ID:</b></label>
                                      <input th:name="id" th:type="text"
                                             class="form-control"
                                             id="id" th:value="${user.getId()}"
                                             readonly/>
                                      <br>
                                      <label for="username"><b>Имя:</b></label>
                                      <input th:name="username" th:type="text"
                                             class="form-control" id="username"
                                             th:value="${user.getUsername()}"/>
                                      <br>
                                      <label for="lastname"><b>Фамилия:</b></label>
                                      <input th:name="lastname" th:type="text"
                                             class="form-control" id="lastname"
                                             th:value="${user.getLastname()}"/>
                                      <br>
                                      <label for="email"><b>Email:</b></label>
                                      <input th:name="email" th:type="text"
                                             class="form-control" id="email"
                                             th:value="${user.getEmail()}"
                                             readonly/>
                                      <br>
                                      <label for="password"><b>Пароль:</b></label>
                                      <input th:name="password" type="text"
                                             class="form-control" id="password"
                                             th:value="${user.getPassword()}"/>
                                      <br>
                                      <label for="listRole"><b>Права
                                        доступа:</b></label>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="adminCheckbox" name="listRole"
                                               value="1"
                                               th:checked="${user.listRole.contains('ADMIN')}">
                                        <label class="form-check-label"
                                               for="adminCheckbox">ADMIN</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="userCheckbox" name="listRole"
                                               value="2"
                                               th:checked="${user.listRole.contains('USER')}">
                                        <label class="form-check-label"
                                               for="userCheckbox">USER</label>
                                      </div>
                                      <br><br>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit"
                                              class="btn btn-primary">
                                        Edit
                                      </button>
                                      <button type="button"
                                              class="btn btn-secondary"
                                              data-bs-dismiss="modal">Close
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Удаление пользователя -->
                            <div class="modal fade" th:id="${'DELETE'+ user.getId()}"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                      Удалить пользователя</h5>
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                  </div>
                                  <form class="modal-body col-md text-center"
                                        th:action="@{/admin/delete(id=${user.getId()})}"
                                        th:method="DELETE">
                                    <div class="modal-body col-md">
                                      <label for="id"><b>ID</b></label>
                                      <input th:name="id" th:type="text"
                                             class="form-control"
                                             id="id" th:value="${user.getId()}"
                                             readonly/>
                                      <br>
                                      <label for="username"><b>Имя</b></label>
                                      <input th:name="username" th:type="text"
                                             class="form-control"
                                             id="username"
                                             th:value="${user.getUsername()}"
                                             readonly/>
                                      <br>
                                      <label for="lastname"><b>Фамилия</b></label>
                                      <input th:name="lastname" th:type="text"
                                             class="form-control" id="lastname"
                                             th:value="${user.getLastname()}"
                                             readonly/>
                                      <br>
                                      <label for="email"><b>Email</b></label>
                                      <input th:name="email" th:type="text"
                                             class="form-control"
                                             id="email"
                                             th:value="${user.getEmail()}"
                                             readonly/>
                                      <br>
                                      <label for="listRole"><b>Права
                                        доступа</b></label>
                                      <input th:type="text"
                                             th:value="${user.getListRole()}"
                                             th:name="listRole"
                                             class="form-control" id="listRole"
                                             readonly/>
                                      <br>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button"
                                              class="btn btn-secondary"
                                              data-bs-dismiss="modal">Закрыть
                                      </button>
                                      <button type="submit"
                                              class="btn btn-danger">Удалить
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Скрипт для функционирования модулей -->
                <script>
                  $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus')
                  })
                </script>
                <!-- Содержимое 2 вкладки -->
                <div class="tab-pane" id="registration">
                  <div class="card-body">
                    <div class="card border-primary mb-auto">
                      <div class="card-header float-none text-left">Создать нового пользователя
                      </div>
                      <div class="card-body text-primary">
                        <table class="table">
                          <!--СОЗДАНИЕ ПОЛЬЗОВАТЕЛЯ-->
                          <form th:method="POST" th:action="@{/admin/registration}"
                                th:object="${user}">
                            <div class="mb-3 col-4 mx-auto">
                              <label class="form-label" for="inputEmail">Введите
                                email:</label>
                              <input type="text" class="form-control" id="inputEmail"
                                     placeholder="Введите email" autocomplete="off"
                                     name="email">
                            </div>
                            <div class="mb-3 col-4 mx-auto">
                              <label class="form-label" for="inputPassword">Введите
                                пароль:</label>
                              <input type="text" class="form-control"
                                     id="inputPassword" placeholder="Введите пароль"
                                     autocomplete="off" name="password">
                            </div>
                            <div class="mb-3 col-4 mx-auto">
                              <label class="form-label" for="inputUsername">Введите
                                имя:</label>
                              <input type="text" class="form-control" id="inputUsername"
                                     placeholder="Введите имя" autocomplete="off"
                                     name="username">
                            </div>
                            <div class="mb-3 col-4 mx-auto">
                              <label class="form-label" for="inputLastname">Введите
                                фамилию:</label>
                              <input type="text" class="form-control"
                                     id="inputLastname" placeholder="Введите фамилию"
                                     autocomplete="off" name="lastname">
                            </div>
                            <div class="mb-3 col-4 mx-auto">
                              <label class="form-label" style="display: block;">Выберите
                                роль:</label>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                       id="adminCheckbox" name="listRole" value="1">
                                <label class="form-check-label"
                                       for="adminCheckbox">ADMIN</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                       id="userCheckbox" name="listRole" value="2">
                                <label class="form-check-label"
                                       for="userCheckbox">USER</label>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-success">Создать
                              пользователя
                            </button>
                          </form>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Скрипт для активирования работы вкладок -->
              <script>
                $(function () {
                  $('#myTabExample a:last').tab('show')
                });
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <!--Содержимое USER  вкладки-->
        <div class="col-10">
          <h1>Личный кабинет</h1>
          <div class="card-header float-none text-left">О пользователе</div>
          <div class="card-body text-primary">
            <table class="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Права доступа</th>
              </tr>
              </thead>
              <tbody>
              <td th:utext="${anotherUser.getId()}">...</td>
              <td th:utext="${anotherUser.getUsername()}">...</td>
              <td th:utext="${anotherUser.getLastname()}">...</td>
              <td th:utext="${anotherUser.getEmail()}">...</td>
              <td th:utext="${anotherUser.getListRole()}">...</td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>>