<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Личный кабинет</h1>
<div>
    <tr th:each="user: ${user}">
        <th>Имя: </th>
        <td th:utext="${user.getUsername()}">...</td>
        <br/>
        <th>Фамилия: </th>
        <td th:utext="${user.getLastname()}">...</td>
        <br/>
        <th>Почта: </th>
        <td th:utext="${user.getEmail()}">...</td>
        <br/>
        <th>Права доступа: </th>
        <td th:utext="${user.getAuthorities()}">...</td>
<!--        <div class="mt-2"> Roles: <span sec:authentication="principal.authorities"/></div>-->
    </tr>
    <br/>
    <form style="display: inline-block;" th:action="@{/logout}">
        <input type="submit" value="Выйти"/>
    </form>
</div>
</body>
</html>